* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../img/natural-default-pattern.png);
  font-family: sans-serif;
}
header {
  height: 400px;
}
.logo {
  background-image: url(../img/natural-default-header.jpg);
  height: 90%;
  text-transform: uppercase;
  position: relative;
  border: 10px solid #f3f3f4;
}

.prova {
  top:50%;
  left: 50%;
  position:absolute;
  transform: translate(-50% , -50%);
  text-align: center;
  color: white;
  font-size: 25px;
}

.prova h1 {
  border: 5px solid #f3f3f4;
  display: inline-block;
  padding: 2px 10px;
  margin-bottom: 10px;
}

nav {
  background-color: #666666;
  height: 10%;
  text-align: center;

}

.menu li {
  display: inline-block;
}

.menu li a {
  text-decoration: none;
  color: white;
  line-height: 40px;
  vertical-align:middle;
  font-family: sans-serif;
  padding: 10px;
}

.menu li:hover {
  background-color: #383639;
}

main::after {
  content: "";
  display: block;
  clear: both;
}

main {
  margin-top: 5px;
  margin-bottom: 5px;
}

 .left, .right {
  width: 25%;
  float: left;
}

.left i {
  color: orange;
  display: inline-block;
  vertical-align: top;
  line-height: 33px;
  font-size: 20px;
}

.left li{
  list-style: none;
  padding: 10px;
}
.left li a{
  text-decoration: none;
  font-size: 20px;
}

.center {
  height: 600px;
  width: 48%;
  background-color: #730671;
  float: left;
  margin: 0 1%;
}

.left {
  background-color: white;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
}

.left h2{
  display: inline-block;
  width: 50%;
  font-size: 30px;
}

footer {
  height: 100px;
  background-color: #A4D2E1;
  width: 100%;
  margin: auto;
}

.content {
  height: 270px;
  background-color: #CC87DA;
  margin-bottom: 10px;
}

.container {
  margin: auto;
  width: 1000px;
}
